<!doctype html>
<html>
<head>
    <title>Add New Student</title>
</head>

<body>

  <form action="/student-add", method="POST">
        <div>
            <label>Enter first name
                <input type="text" name="fname" required>
            </label>
        </div>
        <div>
            <label>Enter last name&nbsp;
                <input type="text" name="lname" required>
            </label>
        </div>
       <div>
            <label>Enter GitHub username
                <input type="text" name="github" required>
            </label>
       </div>
      <input type="submit" value="Add Student">
  </form>

</body>
</html>